@charset "UTF-8";

#alertLogin {
	color: red;
	border-radius: 5px;
	top: 5%;
	right: 1%;
	position: absolute;
	background: #ffecec url('../../../resources/images/error-img.png')
		no-repeat 10px 50%;
	border: 1px solid #f5aca6;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	padding-left: 3%;
	padding-right: 2%;
}

#alertLogin:empty {
	padding: 0%;
	border: 0px;
}

#alertSuccess {
	color: green;
	border-radius: 5px;
	top: 5%;
	right: 1%;
	position: absolute;
	background: #e9ffd9 url('../../../resources/images/ok-img.png')
		no-repeat 10px 50%;
	border: 1px solid #a6ca8a;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	padding-left: 3%;
	padding-right: 2%;
}

#alertSuccess:empty {
	padding: 0%;
	border: 0px;
}

#alertInput {
	color: red;
	border-radius: 5px;
	top: 12%;
	right: 1%;
	position: absolute;
	background: #ffecec url('../../../resources/images/error-img.png')
		no-repeat 10px 50%;
	border: 1px solid #f5aca6;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	padding-left: 3%;
	padding-right: 2%;
}

#alertInput:empty {
	padding: 0%;
	border: 0px;
}
