@charset "UTF-8";

*, html, body {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

body {
	margin-left: 55px;
	font: 62.5%/1.2 Arial, sans-serif;
}

#lateral { /
	padding: 0 50px 0 0;
	-moz-transition: all 0.15s ease;
	-webkit-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;/*Tempo que a janela abre*/
	font-size: 1.2em;
	background: #39a575;/*Muda a cor do menu*/
	background-image: #39a575;
	height: 100%;
	overflow: hidden;
	width: 370px;
	position: fixed;
	top: 0;
	left: -320px;
}

#lateral:before {
	z-index: 1000;
	content: url(../../images/icon/sigeas-icon-39x52.png);
	font-size: 4em;
	color: white;
	position: fixed;
	left: 4px;
	top: 50px;
}

#lateral:hover:before, #lateral:focus:before {
	left: -500px
}

#lateral:hover, #lateral:focus, #lateral:active {
	-moz-transform: translate(320px, 0);
	-webkit-transform: translate(320px, 0);
	-o-transform: translate(320px, 0);
	transform: translate(320px, 0);
	padding-right: 0;
}

#lateral .box {
	list-style-type: none;
	margin-bottom: 1em;;
	padding-bottom: 1em;
}


